.Title
{
    font-size: xx-large;
    color:black;
    font-family: 'Times New Roman';
    text-align: center;
}
.SimpleText
{
    font-size: x-large;
    color:black;
    font-family: 'Times New Roman';
    text-align: left;
}

body
{
    background-color: rgb(95, 199, 95);
    
}

.ImageContainer
{
    width: 200px;
    height: 250px;
    background-image: var(--image-url);
    background-size: cover;
}

.Space
{
    display: flex;
    column-gap:15px;
}